<a href="https://colab.research.google.com/github/Samaspp/pybasics/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

Variable-stores value or object. created using assignment, their type is assigned dynamically. type(object) for type. variable can be mutable(value can change) or immutable. datatypes are classes and variables are objects. floating points are accurate upto 15 decimal places.

In [ ]:
x="sami"
print(type(x))
y=7
print(type(y))
z=24.5
print(type(z))
a=3+4j
(type(a))
t=True
print(type(t))
b=5.1245678901234569
print(b)
type(b)
del b
#print(b) gives error cus b not declared

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
5.124567890123457

in the above example del b is used, del deletes objects so when you do print you get an error -
NameError: name 'b' is not defined

to list all keywords

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

isinstance() to check if obj belongs in a particular class

In [ ]:
a=10
isinstance(a,int)

True

Binary, hexa decimal, octal values can be assigned with the prefix 0b,0x and 0o

In [ ]:
a=0b1010
print(a)
b=0xa
print(b)
c=0o12
print(c)

10
10
10

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.

In [ ]:
s="This is a string"
print(s)
multis='''\nthis is a
multi-line
   string'''
print(multis)

This is a string

this is a
multi-line
   string

slicing operator [ ] can be used with strings to extract characters from  Strings, however strings are immutable ie; we cannot change the characters. it ll give error if you try to change the characters likes S[3]='d'

In [ ]:
S="python"
print(S[2:5]) #extract characters 2-4
S*2

tho

'pythonpython'

We can convert between different data types by using different type conversion functions like int(), float(), str(), etc.

In [ ]:
print(float(5))
print(bool(5))
print(bool(0))
print(int(5.6)) #truncate the value to make it closer to 0
print(int(-10.6))
print(chr(66))
print(oct(12))
print(hex(12))
print(bin(12))

5.0
True
False
5
-10
B
0o14
0xc
0b1100

Conversion to and from string must contain compatible values.

In [ ]:
print(round(5.6))
print(round(float('10.6')))

6
11

In [ ]:
mins=59
fraction=mins/60
print(fraction)

0.9833333333333333

OPERATORS

In [ ]:
#addition
print(55+60)
print("good"+"morning")

#subtraction
print(55-70)

#multiplication
print(67*6)
print("good"*5)

#division
print(17/5)
print(17/5.0)
print(4.0/5)
print(29/4)

#remainder/modulo
print(17%5)
print(23%2)

#exponentiation **
print(2**3)
print(4**4)
print(16**0.5)

#integer division //
print(7//2)
print(7.0//2)

115
goodmorning
-15
402
goodgoodgoodgoodgood
3.4
3.4
0.8
7.25
2
1
8
256
4.0
3
3.0

Relational operators

In [ ]:
#Less than
print(7<9)
print("goodbye"<"hello")

#greater than
print(7>5)
print("goofball">"goofbalm")
print("goofbaml">"goofbalm")

#less than equal
print(2<=5)
print(2<=2)

#similarly theres >=, !=, ==

True
True
True
False
True
True
True

Assignment operators

In [ ]:
v=8
v+=7
print(v)
v/=3
print(v)
v**=2
print(v)
v=int(v)
v//=5
print(v)

15
5.0
25.0
5

Logical operators
or- If any one of the operand is true, then the condition becomes true.

and- If both the operands are true, then the condition becomes true.

not- Reverses the state of operand/condition.

Note:The Python Virtual Machine sometimes knows the value of Boolean expression before it has evaluated all of its operands. For instance, in the expression A and B, if A is false, then so is the expression and there is no need to evaluate B.Likewise in the expression A or B, if A is true, then so is the expression, and again there is no need to evaluate B. This approach, in which evaluation stops as soon as possible is called short-circuit evaluation.

Bitwise operators

In [ ]:
a=0b00111100
b=0b00001101

print(bin(a&b)) #Operator copies a bit, to the result, if it exists in both operands
print(bin(a|b)) #It copies a bit, if it exists in either operand.
print(bin(a^b)) #It copies the bit, if it is set in one operand but not both.
print(bin(~a)) #It is unary and has the effect of 'flipping' bits.
print(bin(a<<2)) #The left operand's value is moved left by the number of bits specified by the right operand.
print(bin(a>>2)) #The left operand's value is moved right by the number of bits specified by the right operand.

0b1100
0b111101
0b110001
-0b111101
0b11110000
0b1111

Membership operators
1. in -Evaluates to true if it finds a variable in the specified sequence and false otherwise.
2. not in -Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

In [ ]:
s="python"
c="y"
d="d"
if c in s:
  print(True)
if d not in s:
  print(False)

True
False

Identity operators

In [ ]:
x=10
y=x
z=11
if x is y:  #Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.
  print(True)
if z is not y:  #Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.
  print(False)

True
False